<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Authentication</title>
        {% load static %}
        <link
            rel="stylesheet"
            type="text/css"
            href="{% static 'css/login.css' %}"
        />
        <script
            src="https://kit.fontawesome.com/885339298e.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <div class="container">
            <div class="form-box">
                <div class="header-container">
                    <h1>Welcome</h1>
                    <p class="subtext">
                        Sign in to your account or create a new one.
                    </p>
                    <div class="toggle-container">
                        <div
                            id="loginBtn"
                            class="toggle-btn"
                            onclick="toggleAuth(this, 'login')"
                        >
                            Login
                        </div>
                        <div
                            id="registerBtn"
                            class="toggle-btn active"
                            onclick="toggleAuth(this, 'register')"
                        >
                            Register
                        </div>
                    </div>
                    <div class="header-underline"></div>
                </div>
                <form
                    id="authForm"
                    method="POST"
                    action="{% url 'register_user' %}"
                >
                    {% csrf_token %}
                    <div class="input-group">
                        <div class="input-field" id="nameField">
                            <i class="fa-solid fa-user leading-icon"></i>
                            <input
                                type="text"
                                name="name"
                                placeholder="Full Name"
                            />
                        </div>
                        <div class="input-field">
                            <i class="fa-solid fa-envelope leading-icon"></i>
                            <input
                                type="email"
                                name="email"
                                placeholder="Email"
                                required
                            />
                        </div>
                        <div class="input-field">
                            <i class="fa-solid fa-lock leading-icon"></i>
                            <input
                                type="password"
                                id="password"
                                name="password"
                                placeholder="Password"
                                required
                            />
                            <i
                                class="fa-solid fa-eye toggle-password"
                                data-target="password"
                            ></i>
                        </div>
                        <div class="input-field" id="confirmPasswordField">
                            <i class="fa-solid fa-lock leading-icon"></i>
                            <input
                                type="password"
                                id="confirmPassword"
                                name="confirmPassword"
                                placeholder="Confirm Password"
                            />
                            <i
                                class="fa-solid fa-eye toggle-password"
                                data-target="confirmPassword"
                            ></i>
                        </div>
                        <div id="passwordRequirements">
                            <details>
                                <summary>password requirements</summary>

                                <p>Must be at least 8 characters long</p>
                                <p>Cannot contain any part of your name</p>
                                <p>Cannot consist of numbers only</p>
                            </details>
                        </div>
                        <p id="forgotPassword" class="hidden">
                            Forgot your password? <a href="#">Click here!</a>
                        </p>
                    </div>
                    <button type="submit" class="enter">Register</button>
                </form>
                <br />
                <div id="messages">
                    {% if errors %} {% for error in errors %}
                    <p id="error-message" style="color: red">{{ error }}</p>
                    {% endfor %} {% endif %} {% if success %}
                    <p class="success-message" style="color: green">
                        Registered successfully! Please proceed to login.
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <script src="{% static 'js/login.js' %}"></script>
    </body>
</html>
